{% include "header.html" %}
<pre id = "nameScheme">{{nameScheme}}</pre>
<!-- BEGIN: Page Main-->
<div id="main">
    <div class="row">
        <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s12 right-align-md">
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Calculate</a>
                            </li>
                            <li class="breadcrumb-item active">Predict Malware
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="malware-form">
        </div>
    </div>
</div>

{% include "footer.html" %}