{% include "header.html" %}

<!-- BEGIN: Page Main-->
<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container docs">
                <div class="row">
                    <h2>Downloading and running code</h2>
                </div>
                <div class="row">
                    <div class="col s6">
                        <iframe width="800px" height="500px"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe> 
                    </div>
                    <p> do this thing then this thing then this thing</p>
                    <div class="ct-test"></div>
                </div>
            </div>
            <div class="container docs">
                <div class="row">
                    <h2>Altering and Recompiling the code</h2>
                </div>
                <div class="row">
                    <div class="col s6">
                        <iframe width="800px" height="500px"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe> 
                    </div>
                    <p> do this thing then this thing then this thing</p>
                </div>
            </div>
            <div class="container docs">
                <div class="row">
                    <h2>Forking the Git repository</h2>
                </div>
                <div class="row">
                    <div class="col s6">
                        <iframe width="800px" height="500px"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe> 
                    </div>
                    <p> do this thing then this thing then this thing</p>
                </div>
            </div>
            <div class="container docs">
                <div class="row">
                    <h2>Pushing changes to the git repository</h2>
                </div>
                <div class="row">
                    <div class="col s6">
                        <iframe width="800px" height="500px"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe> 
                    </div>
                    <p> do this thing then this thing then this thing</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}