{% include "header.html" %}

<!-- BEGIN: Page Main-->
<div id="main" class="flowdash">
    <div class="row">
        <div class="col s12">
            <div class="container canvas">
                <div id="dash">
                    <div class="row">
                        <div class="col s3">
                            <div class="infobox">
                                <div class="card-content">
                                    <!-- <img class="activator right logo" src="/img/zfs.png"> -->
                                    <p>A UFS prediction model, running on the cloud. Takes input data, performs distributable processing, and yields subseasonal weather predictions</p>
                                    <p>Click <i class="material-icons blue-text text-lighten-1" style="position:relative;top:5px;">info</i> for a description of each component.</p>
                                    <a class="btn green lighten-1 white-text" href="">Launch the process</a>
                                </div>
                            </div>
                        </div>  
                        <div class="col s3">
                            <div class="card flowcard">
                                <div class="card-content">
                                    <!-- <img class="activator right logo" src="/img/zfs.png"> -->
                                    <i class="activator right logo material-icons">storage</i>
                                    <span class="card-title activator grey-text text-darken-4">Input Data<br><span class="grey-text">C94 resolution</span></span>
                                    <div class="stats-lander">
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                    
                                    <a class="activator etl-indicator btn-floating btn-flat halfway-fab right waves-effect waves-light white lighten-1"><i class="material-icons">info</i></a>
                                </div>
                                <div class="card-action">
                                    <a class="modal-trigger" href="#modal-data-lander">Sample Data</a>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Input Data<i class="material-icons right">close</i></span>
                                    <p>Input data for subseasonal weather prediction</p>
                                </div>
                            </div>
                        </div> 
                        <div class="col s3">
                            <div class="card flowcard">
                                <div class="card-content">
                                    <!-- <img class="activator right logo" src="/img/zfs.png"> -->
                                    <i class="activator right logo material-icons">storage</i>
                                    <span class="card-title activator grey-text text-darken-4">INNOVIM's EPIC Cloud Platform<br><span class="grey-text">AWS Head Node</span></span>
                                    <div class="stats-lander">
                                        <div class="headRAM">RAM%</div>
                                        <div class="headCPU">CPU%</div>
                                        <div class="headDone">Done%</div>
                                    </div>
                    
                                    <a class="activator etl-indicator btn-floating btn-flat halfway-fab right waves-effect waves-light white lighten-1"><i class="material-icons">info</i></a>
                                </div>
                                <div class="card-action">
                                    <a class="modal-trigger" href="#modal-data-lander">Sample Data</a>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Worker Node<i class="material-icons right">close</i></span>
                                    <p>A machine responsible for the management of a cluster, performing calculation of the ufs weather forecast</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="card flowcard">
                                <div class="card-content">
                                    <!-- <img class="activator right logo" src="/img/zfs.png"> -->
                                    <i class="activator right logo material-icons">storage</i>
                                    <span class="card-title activator grey-text text-darken-4">Predictions<br><span class="grey-text">nc files something something</span></span>
                                    <div class="stats-lander">
                                        <br>
                                        <br>
                                        <br>
                    
                                    </div>
                    
                                    <a class="activator etl-indicator btn-floating btn-flat halfway-fab right waves-effect waves-light white lighten-1"><i class="material-icons">info</i></a>
                                </div>
                                <div class="card-action">
                                    <a class="modal-trigger" href="#modal-data-lander">Sample Data</a>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Worker Node<i class="material-icons right">close</i></span>
                                    <p>A mafasfasdfasdf asdfasdfasdfasdf asdfa sdfasd fasdf asdfasdfasdfas dasdfa sdfasd fasdf asdfasd fasf asdf chine responsible in part for the calculation of the ufs weather forecast</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>             
            </div>
        </div>
        <div class="row">
            <div class="stats"></div>
        </div>
        <!-- <div class="col s12">
            <div class="card flow-ml">
                <div id="dash">
                    <div class="row">
                        <div class="stats"></div>
                    </div>
                </div>
            </div>
        
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div> -->
        <div class="col s2"></div>
        <!--chart dashboard end-->
        {% include "footer.html" %}