{% include "header.html" %}

<!-- BEGIN: Page Main-->
<div id="main" class="flowdash">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <!--chart dashboard start-->
                <div id="dash">
                    <div class="row">
                        <div class="col s12 m8">
                            Welcome to Kessel Run Demo!
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <div class="card">
                                <div class="card-content">
                                    <img class="activator right" src="https://via.placeholder.com/100x100">
                                    <span class="card-title activator grey-text text-darken-4">Landing Zone Filesystem</span>
                                    <p>State: <span class="green-text text-lighten-1 bold">OKAY</span></p>
                                    {{ landing_zone['used'] }}GB / {{ landing_zone['total'] }}GB<br> {{ landing_zone['free'] }}GB Free
                                </div>
                                <div class="card-action">
                                    <a href="#" class="activator">View Data</a>
                                    <a href="#" class="activator">Kafka Producer</a>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="card">
                                <div class="card-content">
                                    <img class="activator right" src="https://via.placeholder.com/100x100">
                                    <span class="card-title activator grey-text text-darken-4">Kafka</span>
                                    <p>State: <span class="green-text text-lighten-1 bold">OKAY</span></p>
                                    {{ landing_zone['used'] }}GB / {{ landing_zone['total'] }}GB<br> {{ landing_zone['free'] }}GB Free
                                </div>
                                <div class="card-action">
                                    <a href="#" class="activator">View Data</a>
                                    <a href="#" class="activator">Kafka Topics</a>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="card">
                                <div class="card-content">
                                    <img class="activator right" src="https://via.placeholder.com/100x100">
                                    <span class="card-title activator grey-text text-darken-4">ElasticSearch</span>
                                    <p>State: <span class="green-text text-lighten-1 bold">OKAY</span></p>
                                    {{ landing_zone['used'] }}GB / {{ landing_zone['total'] }}GB<br> {{ landing_zone['free'] }}GB Free
                                </div>
                                <div class="card-action">
                                    <a href="#" class="activator">Index Details</a>
                                    <a href="#" class="activator">Kafka Consumer</a>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--chart dashboard end-->
            {% include "footer.html" %}