{% include "header.html" %}

<!-- BEGIN: Page Main-->
<div id="main">
    <div class="row">
        <div class="resp-container">
            <div id="kibana">
                <div class="row">
                    <div class="col s12 m8">
                        <div class="row">
                            <iframe class="resp-iframe" src="https://kibana.kesselrun.teamphantomeagle-innovim.com/app/kibana#/dashboard/f00379e0-6d12-11ea-bca9-9be99699efd6?embed=true&_g=()" height="1000" width="1750"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}