{% include "header.html" %}

<script>
    function loadImage(image){
        document.getElementById("map_window").innerHTML = '<img src="'+ image + '" width="100%" height="100%"/>'
    }
</script>

<div id="main">
    <div class='map_sidebar'>
        <span title="Evaporation/condensation at ocean surface">
            <img src='/img/renders/evap/image.png' onclick="loadImage('/img/renders/evap/original.png')"/>
        </span>
        <span title="Frozen precipitation into ocean">
            <img src='/img/renders/fprec/image.png' onclick="loadImage('/img/renders/fprec/original.png')"/>
        </span>
        <span title="Latent heat flux into ocean due to fusion and evaporation">
            <img src='/img/renders/latent/image.png' onclick="loadImage('/img/renders/latent/original.png')"/>
        </span>
        <span title="Mixed layer depth">
            <img src='/img/renders/MLD_0125/image.png' onclick="loadImage('/img/renders/MLD_0125/original.png')"/>
        </span>
    </div>
    <div class="output_map" id="map_window"></div>
    <script>loadImage('/img/renders/evap/original.png')</script>

</div>
{% include "footer.html" %}