{% include "header.html" %}

<!-- BEGIN: Page Main-->
<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <!--chart dashboard start-->
                <div id="dash">
                    <div class="row">
                        <div class="col s12 m8">
                            <div class="row white">
                                <div class="col s12 m3 fields">
                                    <select>
                                        <option value="MachineIdentifier">MachineIdentifier</option>
                                        <option value="ProductName">ProductName</option>
                                        <option value="EngineVersion">EngineVersion</option>
                                        <option value="AppVersion">AppVersion</option>
                                        <option value="AvSigVersion">AvSigVersion</option>
                                        <option value="IsBeta">IsBeta</option>
                                        <option value="RtpStateBitfield">RtpStateBitfield</option>
                                        <option value="IsSxsPassiveMode">IsSxsPassiveMode</option>
                                        <option value="DefaultBrowsersIdentifier">DefaultBrowsersIdentifier</option>
                                        <option value="AVProductStatesIdentifier">AVProductStatesIdentifier</option>
                                        <option value="AVProductsInstalled">AVProductsInstalled</option>
                                        <option value="AVProductsEnabled">AVProductsEnabled</option>
                                        <option value="HasTpm">HasTpm</option>
                                        <option value="CountryIdentifier">CountryIdentifier</option>
                                        <option value="CityIdentifier">CityIdentifier</option>
                                        <option value="OrganizationIdentifier">OrganizationIdentifier</option>
                                        <option value="GeoNameIdentifier">GeoNameIdentifier</option>
                                        <option value="LocaleEnglishNameIdentifier">LocaleEnglishNameIdentifier</option>
                                        <option value="Platform">Platform</option>
                                        <option value="Processor">Processor</option>
                                        <option value="OsVer">OsVer</option>
                                        <option value="OsBuild">OsBuild</option>
                                        <option value="OsSuite">OsSuite</option>
                                        <option value="OsPlatformSubRelease">OsPlatformSubRelease</option>
                                        <option value="OsBuildLab">OsBuildLab</option>
                                        <option value="SkuEdition">SkuEdition</option>
                                        <option value="IsProtected">IsProtected</option>
                                        <option value="AutoSampleOptIn">AutoSampleOptIn</option>
                                        <option value="PuaMode">PuaMode</option>
                                        <option value="SMode">SMode</option>
                                        <option value="IeVerIdentifier">IeVerIdentifier</option>
                                        <option value="SmartScreen">SmartScreen</option>
                                        <option value="Firewall">Firewall</option>
                                        <option value="UacLuaenable">UacLuaenable</option>
                                        <option value="Census_MDC2FormFactor">Census_MDC2FormFactor</option>
                                        <option value="Census_DeviceFamily">Census_DeviceFamily</option>
                                        <option value="Census_OEMNameIdentifier">Census_OEMNameIdentifier</option>
                                        <option value="Census_OEMModelIdentifier">Census_OEMModelIdentifier</option>
                                        <option value="Census_ProcessorCoreCount">Census_ProcessorCoreCount</option>
                                        <option value="Census_ProcessorManufacturerIdentifier">
                                            Census_ProcessorManufacturerIdentifier</option>
                                        <option value="Census_ProcessorModelIdentifier">Census_ProcessorModelIdentifier
                                        </option>
                                        <option value="Census_ProcessorClass">Census_ProcessorClass</option>
                                        <option value="Census_PrimaryDiskTotalCapacity">Census_PrimaryDiskTotalCapacity
                                        </option>
                                        <option value="Census_PrimaryDiskTypeName">Census_PrimaryDiskTypeName</option>
                                        <option value="Census_SystemVolumeTotalCapacity">
                                            Census_SystemVolumeTotalCapacity
                                        </option>
                                        <option value="Census_HasOpticalDiskDrive">Census_HasOpticalDiskDrive</option>
                                        <option value="Census_TotalPhysicalRAM">Census_TotalPhysicalRAM</option>
                                        <option value="Census_ChassisTypeName">Census_ChassisTypeName</option>
                                        <option value="Census_InternalPrimaryDiagonalDisplaySizeInInches">
                                            Census_InternalPrimaryDiagonalDisplaySizeInInches</option>
                                        <option value="Census_InternalPrimaryDisplayResolutionHorizontal">
                                            Census_InternalPrimaryDisplayResolutionHorizontal</option>
                                        <option value="Census_InternalPrimaryDisplayResolutionVertical">
                                            Census_InternalPrimaryDisplayResolutionVertical</option>
                                        <option value="Census_PowerPlatformRoleName">Census_PowerPlatformRoleName
                                        </option>
                                        <option value="Census_InternalBatteryType">Census_InternalBatteryType</option>
                                        <option value="Census_InternalBatteryNumberOfCharges">
                                            Census_InternalBatteryNumberOfCharges</option>
                                        <option value="Census_OSVersion">Census_OSVersion</option>
                                        <option value="Census_OSArchitecture">Census_OSArchitecture</option>
                                        <option value="Census_OSBranch">Census_OSBranch</option>
                                        <option value="Census_OSBuildNumber">Census_OSBuildNumber</option>
                                        <option value="Census_OSBuildRevision">Census_OSBuildRevision</option>
                                        <option value="Census_OSEdition">Census_OSEdition</option>
                                        <option value="Census_OSSkuName">Census_OSSkuName</option>
                                        <option value="Census_OSInstallTypeName">Census_OSInstallTypeName</option>
                                        <option value="Census_OSInstallLanguageIdentifier">
                                            Census_OSInstallLanguageIdentifier
                                        </option>
                                        <option value="Census_OSUILocaleIdentifier">Census_OSUILocaleIdentifier</option>
                                        <option value="Census_OSWUAutoUpdateOptionsName">
                                            Census_OSWUAutoUpdateOptionsName
                                        </option>
                                        <option value="Census_IsPortableOperatingSystem">
                                            Census_IsPortableOperatingSystem
                                        </option>
                                        <option value="Census_GenuineStateName">Census_GenuineStateName</option>
                                        <option value="Census_ActivationChannel">Census_ActivationChannel</option>
                                        <option value="Census_IsFlightingInternal">Census_IsFlightingInternal</option>
                                        <option value="Census_IsFlightsDisabled">Census_IsFlightsDisabled</option>
                                        <option value="Census_FlightRing">Census_FlightRing</option>
                                        <option value="Census_ThresholdOptIn">Census_ThresholdOptIn</option>
                                        <option value="Census_FirmwareManufacturerIdentifier">
                                            Census_FirmwareManufacturerIdentifier</option>
                                        <option value="Census_FirmwareVersionIdentifier">
                                            Census_FirmwareVersionIdentifier
                                        </option>
                                        <option value="Census_IsSecureBootEnabled">Census_IsSecureBootEnabled</option>
                                        <option value="Census_IsWIMBootEnabled">Census_IsWIMBootEnabled</option>
                                        <option value="Census_IsVirtualDevice">Census_IsVirtualDevice</option>
                                        <option value="Census_IsTouchEnabled">Census_IsTouchEnabled</option>
                                        <option value="Census_IsPenCapable">Census_IsPenCapable</option>
                                        <option value="Census_IsAlwaysOnAlwaysConnectedCapable">
                                            Census_IsAlwaysOnAlwaysConnectedCapable</option>
                                        <option value="Wdft_IsGamer">Wdft_IsGamer</option>
                                        <option value="Wdft_RegionIdentifier">Wdft_RegionIdentifier</option>
                                        <option value="HasDetections" selected>HasDetections</option>
                                    </select>
                                </div>
                                <div class="col s12 m3 fields">
                                    <select>
                                        <option value="MachineIdentifier">MachineIdentifier</option>
                                        <option value="ProductName">ProductName</option>
                                        <option value="EngineVersion">EngineVersion</option>
                                        <option value="AppVersion">AppVersion</option>
                                        <option value="AvSigVersion">AvSigVersion</option>
                                        <option value="IsBeta">IsBeta</option>
                                        <option value="RtpStateBitfield">RtpStateBitfield</option>
                                        <option value="IsSxsPassiveMode">IsSxsPassiveMode</option>
                                        <option value="DefaultBrowsersIdentifier">DefaultBrowsersIdentifier</option>
                                        <option value="AVProductStatesIdentifier">AVProductStatesIdentifier</option>
                                        <option value="AVProductsInstalled">AVProductsInstalled</option>
                                        <option value="AVProductsEnabled">AVProductsEnabled</option>
                                        <option value="HasTpm">HasTpm</option>
                                        <option value="CountryIdentifier">CountryIdentifier</option>
                                        <option value="CityIdentifier">CityIdentifier</option>
                                        <option value="OrganizationIdentifier">OrganizationIdentifier</option>
                                        <option value="GeoNameIdentifier">GeoNameIdentifier</option>
                                        <option value="LocaleEnglishNameIdentifier">LocaleEnglishNameIdentifier</option>
                                        <option value="Platform">Platform</option>
                                        <option value="Processor">Processor</option>
                                        <option value="OsVer">OsVer</option>
                                        <option value="OsBuild">OsBuild</option>
                                        <option value="OsSuite">OsSuite</option>
                                        <option value="OsPlatformSubRelease">OsPlatformSubRelease</option>
                                        <option value="OsBuildLab">OsBuildLab</option>
                                        <option value="SkuEdition">SkuEdition</option>
                                        <option value="IsProtected">IsProtected</option>
                                        <option value="AutoSampleOptIn">AutoSampleOptIn</option>
                                        <option value="PuaMode">PuaMode</option>
                                        <option value="SMode">SMode</option>
                                        <option value="IeVerIdentifier">IeVerIdentifier</option>
                                        <option value="SmartScreen">SmartScreen</option>
                                        <option value="Firewall">Firewall</option>
                                        <option value="UacLuaenable">UacLuaenable</option>
                                        <option value="Census_MDC2FormFactor" selected>Census_MDC2FormFactor</option>
                                        <option value="Census_DeviceFamily">Census_DeviceFamily</option>
                                        <option value="Census_OEMNameIdentifier">Census_OEMNameIdentifier</option>
                                        <option value="Census_OEMModelIdentifier">Census_OEMModelIdentifier</option>
                                        <option value="Census_ProcessorCoreCount">Census_ProcessorCoreCount</option>
                                        <option value="Census_ProcessorManufacturerIdentifier">
                                            Census_ProcessorManufacturerIdentifier</option>
                                        <option value="Census_ProcessorModelIdentifier">Census_ProcessorModelIdentifier
                                        </option>
                                        <option value="Census_ProcessorClass">Census_ProcessorClass</option>
                                        <option value="Census_PrimaryDiskTotalCapacity">Census_PrimaryDiskTotalCapacity
                                        </option>
                                        <option value="Census_PrimaryDiskTypeName">Census_PrimaryDiskTypeName</option>
                                        <option value="Census_SystemVolumeTotalCapacity">
                                            Census_SystemVolumeTotalCapacity
                                        </option>
                                        <option value="Census_HasOpticalDiskDrive">Census_HasOpticalDiskDrive</option>
                                        <option value="Census_TotalPhysicalRAM">Census_TotalPhysicalRAM</option>
                                        <option value="Census_ChassisTypeName">Census_ChassisTypeName</option>
                                        <option value="Census_InternalPrimaryDiagonalDisplaySizeInInches">
                                            Census_InternalPrimaryDiagonalDisplaySizeInInches</option>
                                        <option value="Census_InternalPrimaryDisplayResolutionHorizontal">
                                            Census_InternalPrimaryDisplayResolutionHorizontal</option>
                                        <option value="Census_InternalPrimaryDisplayResolutionVertical">
                                            Census_InternalPrimaryDisplayResolutionVertical</option>
                                        <option value="Census_PowerPlatformRoleName">Census_PowerPlatformRoleName
                                        </option>
                                        <option value="Census_InternalBatteryType">Census_InternalBatteryType</option>
                                        <option value="Census_InternalBatteryNumberOfCharges">
                                            Census_InternalBatteryNumberOfCharges</option>
                                        <option value="Census_OSVersion">Census_OSVersion</option>
                                        <option value="Census_OSArchitecture">Census_OSArchitecture</option>
                                        <option value="Census_OSBranch">Census_OSBranch</option>
                                        <option value="Census_OSBuildNumber">Census_OSBuildNumber</option>
                                        <option value="Census_OSBuildRevision">Census_OSBuildRevision</option>
                                        <option value="Census_OSEdition">Census_OSEdition</option>
                                        <option value="Census_OSSkuName">Census_OSSkuName</option>
                                        <option value="Census_OSInstallTypeName">Census_OSInstallTypeName</option>
                                        <option value="Census_OSInstallLanguageIdentifier">
                                            Census_OSInstallLanguageIdentifier</option>
                                        <option value="Census_OSUILocaleIdentifier">Census_OSUILocaleIdentifier</option>
                                        <option value="Census_OSWUAutoUpdateOptionsName">
                                            Census_OSWUAutoUpdateOptionsName
                                        </option>
                                        <option value="Census_IsPortableOperatingSystem">
                                            Census_IsPortableOperatingSystem
                                        </option>
                                        <option value="Census_GenuineStateName">Census_GenuineStateName</option>
                                        <option value="Census_ActivationChannel">Census_ActivationChannel</option>
                                        <option value="Census_IsFlightingInternal">Census_IsFlightingInternal</option>
                                        <option value="Census_IsFlightsDisabled">Census_IsFlightsDisabled</option>
                                        <option value="Census_FlightRing">Census_FlightRing</option>
                                        <option value="Census_ThresholdOptIn">Census_ThresholdOptIn</option>
                                        <option value="Census_FirmwareManufacturerIdentifier">
                                            Census_FirmwareManufacturerIdentifier</option>
                                        <option value="Census_FirmwareVersionIdentifier">
                                            Census_FirmwareVersionIdentifier
                                        </option>
                                        <option value="Census_IsSecureBootEnabled">Census_IsSecureBootEnabled</option>
                                        <option value="Census_IsWIMBootEnabled">Census_IsWIMBootEnabled</option>
                                        <option value="Census_IsVirtualDevice">Census_IsVirtualDevice</option>
                                        <option value="Census_IsTouchEnabled">Census_IsTouchEnabled</option>
                                        <option value="Census_IsPenCapable">Census_IsPenCapable</option>
                                        <option value="Census_IsAlwaysOnAlwaysConnectedCapable">
                                            Census_IsAlwaysOnAlwaysConnectedCapable</option>
                                        <option value="Wdft_IsGamer">Wdft_IsGamer</option>
                                        <option value="Wdft_RegionIdentifier">Wdft_RegionIdentifier</option>
                                        <option value="HasDetections">HasDetections</option>
                                    </select>
                                </div>
                                <div class="col s12 m3 fields">
                                    <select>
                                        <option value="MachineIdentifier">MachineIdentifier</option>
                                        <option value="ProductName">ProductName</option>
                                        <option value="EngineVersion">EngineVersion</option>
                                        <option value="AppVersion">AppVersion</option>
                                        <option value="AvSigVersion">AvSigVersion</option>
                                        <option value="IsBeta">IsBeta</option>
                                        <option value="RtpStateBitfield">RtpStateBitfield</option>
                                        <option value="IsSxsPassiveMode">IsSxsPassiveMode</option>
                                        <option value="DefaultBrowsersIdentifier">DefaultBrowsersIdentifier</option>
                                        <option value="AVProductStatesIdentifier">AVProductStatesIdentifier</option>
                                        <option value="AVProductsInstalled" selected>AVProductsInstalled</option>
                                        <option value="AVProductsEnabled">AVProductsEnabled</option>
                                        <option value="HasTpm">HasTpm</option>
                                        <option value="CountryIdentifier">CountryIdentifier</option>
                                        <option value="CityIdentifier">CityIdentifier</option>
                                        <option value="OrganizationIdentifier">OrganizationIdentifier</option>
                                        <option value="GeoNameIdentifier">GeoNameIdentifier</option>
                                        <option value="LocaleEnglishNameIdentifier">LocaleEnglishNameIdentifier</option>
                                        <option value="Platform">Platform</option>
                                        <option value="Processor">Processor</option>
                                        <option value="OsVer">OsVer</option>
                                        <option value="OsBuild">OsBuild</option>
                                        <option value="OsSuite">OsSuite</option>
                                        <option value="OsPlatformSubRelease">OsPlatformSubRelease</option>
                                        <option value="OsBuildLab">OsBuildLab</option>
                                        <option value="SkuEdition">SkuEdition</option>
                                        <option value="IsProtected">IsProtected</option>
                                        <option value="AutoSampleOptIn">AutoSampleOptIn</option>
                                        <option value="PuaMode">PuaMode</option>
                                        <option value="SMode">SMode</option>
                                        <option value="IeVerIdentifier">IeVerIdentifier</option>
                                        <option value="SmartScreen">SmartScreen</option>
                                        <option value="Firewall">Firewall</option>
                                        <option value="UacLuaenable">UacLuaenable</option>
                                        <option value="Census_MDC2FormFactor">Census_MDC2FormFactor</option>
                                        <option value="Census_DeviceFamily">Census_DeviceFamily</option>
                                        <option value="Census_OEMNameIdentifier">Census_OEMNameIdentifier</option>
                                        <option value="Census_OEMModelIdentifier">Census_OEMModelIdentifier</option>
                                        <option value="Census_ProcessorCoreCount">Census_ProcessorCoreCount</option>
                                        <option value="Census_ProcessorManufacturerIdentifier">
                                            Census_ProcessorManufacturerIdentifier</option>
                                        <option value="Census_ProcessorModelIdentifier">Census_ProcessorModelIdentifier
                                        </option>
                                        <option value="Census_ProcessorClass">Census_ProcessorClass</option>
                                        <option value="Census_PrimaryDiskTotalCapacity">Census_PrimaryDiskTotalCapacity
                                        </option>
                                        <option value="Census_PrimaryDiskTypeName">Census_PrimaryDiskTypeName</option>
                                        <option value="Census_SystemVolumeTotalCapacity">
                                            Census_SystemVolumeTotalCapacity</option>
                                        <option value="Census_HasOpticalDiskDrive">Census_HasOpticalDiskDrive</option>
                                        <option value="Census_TotalPhysicalRAM">Census_TotalPhysicalRAM</option>
                                        <option value="Census_ChassisTypeName">Census_ChassisTypeName</option>
                                        <option value="Census_InternalPrimaryDiagonalDisplaySizeInInches">
                                            Census_InternalPrimaryDiagonalDisplaySizeInInches</option>
                                        <option value="Census_InternalPrimaryDisplayResolutionHorizontal">
                                            Census_InternalPrimaryDisplayResolutionHorizontal</option>
                                        <option value="Census_InternalPrimaryDisplayResolutionVertical">
                                            Census_InternalPrimaryDisplayResolutionVertical</option>
                                        <option value="Census_PowerPlatformRoleName">Census_PowerPlatformRoleName
                                        </option>
                                        <option value="Census_InternalBatteryType">Census_InternalBatteryType</option>
                                        <option value="Census_InternalBatteryNumberOfCharges">
                                            Census_InternalBatteryNumberOfCharges</option>
                                        <option value="Census_OSVersion">Census_OSVersion</option>
                                        <option value="Census_OSArchitecture">Census_OSArchitecture</option>
                                        <option value="Census_OSBranch">Census_OSBranch</option>
                                        <option value="Census_OSBuildNumber">Census_OSBuildNumber</option>
                                        <option value="Census_OSBuildRevision">Census_OSBuildRevision</option>
                                        <option value="Census_OSEdition">Census_OSEdition</option>
                                        <option value="Census_OSSkuName">Census_OSSkuName</option>
                                        <option value="Census_OSInstallTypeName">Census_OSInstallTypeName</option>
                                        <option value="Census_OSInstallLanguageIdentifier">
                                            Census_OSInstallLanguageIdentifier</option>
                                        <option value="Census_OSUILocaleIdentifier">Census_OSUILocaleIdentifier</option>
                                        <option value="Census_OSWUAutoUpdateOptionsName">
                                            Census_OSWUAutoUpdateOptionsName</option>
                                        <option value="Census_IsPortableOperatingSystem">
                                            Census_IsPortableOperatingSystem</option>
                                        <option value="Census_GenuineStateName">Census_GenuineStateName</option>
                                        <option value="Census_ActivationChannel">Census_ActivationChannel</option>
                                        <option value="Census_IsFlightingInternal">Census_IsFlightingInternal</option>
                                        <option value="Census_IsFlightsDisabled">Census_IsFlightsDisabled</option>
                                        <option value="Census_FlightRing">Census_FlightRing</option>
                                        <option value="Census_ThresholdOptIn">Census_ThresholdOptIn</option>
                                        <option value="Census_FirmwareManufacturerIdentifier">
                                            Census_FirmwareManufacturerIdentifier</option>
                                        <option value="Census_FirmwareVersionIdentifier">
                                            Census_FirmwareVersionIdentifier</option>
                                        <option value="Census_IsSecureBootEnabled">Census_IsSecureBootEnabled</option>
                                        <option value="Census_IsWIMBootEnabled">Census_IsWIMBootEnabled</option>
                                        <option value="Census_IsVirtualDevice">Census_IsVirtualDevice</option>
                                        <option value="Census_IsTouchEnabled">Census_IsTouchEnabled</option>
                                        <option value="Census_IsPenCapable">Census_IsPenCapable</option>
                                        <option value="Census_IsAlwaysOnAlwaysConnectedCapable">
                                            Census_IsAlwaysOnAlwaysConnectedCapable</option>
                                        <option value="Wdft_IsGamer">Wdft_IsGamer</option>
                                        <option value="Wdft_RegionIdentifier">Wdft_RegionIdentifier</option>
                                        <option value="HasDetections">HasDetections</option>
                                    </select>
                                </div>
                                <div class="col s12 m3 fields">
                                    <select>
                                        <option value="MachineIdentifier">MachineIdentifier</option>
                                        <option value="ProductName">ProductName</option>
                                        <option value="EngineVersion">EngineVersion</option>
                                        <option value="AppVersion">AppVersion</option>
                                        <option value="AvSigVersion">AvSigVersion</option>
                                        <option value="IsBeta">IsBeta</option>
                                        <option value="RtpStateBitfield">RtpStateBitfield</option>
                                        <option value="IsSxsPassiveMode">IsSxsPassiveMode</option>
                                        <option value="DefaultBrowsersIdentifier">DefaultBrowsersIdentifier</option>
                                        <option value="AVProductStatesIdentifier">AVProductStatesIdentifier</option>
                                        <option value="AVProductsInstalled">AVProductsInstalled</option>
                                        <option value="AVProductsEnabled" selected>AVProductsEnabled</option>
                                        <option value="HasTpm">HasTpm</option>
                                        <option value="CountryIdentifier">CountryIdentifier</option>
                                        <option value="CityIdentifier">CityIdentifier</option>
                                        <option value="OrganizationIdentifier">OrganizationIdentifier</option>
                                        <option value="GeoNameIdentifier">GeoNameIdentifier</option>
                                        <option value="LocaleEnglishNameIdentifier">LocaleEnglishNameIdentifier</option>
                                        <option value="Platform">Platform</option>
                                        <option value="Processor">Processor</option>
                                        <option value="OsVer">OsVer</option>
                                        <option value="OsBuild">OsBuild</option>
                                        <option value="OsSuite">OsSuite</option>
                                        <option value="OsPlatformSubRelease">OsPlatformSubRelease</option>
                                        <option value="OsBuildLab">OsBuildLab</option>
                                        <option value="SkuEdition">SkuEdition</option>
                                        <option value="IsProtected">IsProtected</option>
                                        <option value="AutoSampleOptIn">AutoSampleOptIn</option>
                                        <option value="PuaMode">PuaMode</option>
                                        <option value="SMode">SMode</option>
                                        <option value="IeVerIdentifier">IeVerIdentifier</option>
                                        <option value="SmartScreen">SmartScreen</option>
                                        <option value="Firewall">Firewall</option>
                                        <option value="UacLuaenable">UacLuaenable</option>
                                        <option value="Census_MDC2FormFactor">Census_MDC2FormFactor</option>
                                        <option value="Census_DeviceFamily">Census_DeviceFamily</option>
                                        <option value="Census_OEMNameIdentifier">Census_OEMNameIdentifier</option>
                                        <option value="Census_OEMModelIdentifier">Census_OEMModelIdentifier</option>
                                        <option value="Census_ProcessorCoreCount">Census_ProcessorCoreCount</option>
                                        <option value="Census_ProcessorManufacturerIdentifier">
                                            Census_ProcessorManufacturerIdentifier</option>
                                        <option value="Census_ProcessorModelIdentifier">Census_ProcessorModelIdentifier
                                        </option>
                                        <option value="Census_ProcessorClass">Census_ProcessorClass</option>
                                        <option value="Census_PrimaryDiskTotalCapacity">Census_PrimaryDiskTotalCapacity
                                        </option>
                                        <option value="Census_PrimaryDiskTypeName">Census_PrimaryDiskTypeName</option>
                                        <option value="Census_SystemVolumeTotalCapacity">
                                            Census_SystemVolumeTotalCapacity</option>
                                        <option value="Census_HasOpticalDiskDrive">Census_HasOpticalDiskDrive</option>
                                        <option value="Census_TotalPhysicalRAM">Census_TotalPhysicalRAM</option>
                                        <option value="Census_ChassisTypeName">Census_ChassisTypeName</option>
                                        <option value="Census_InternalPrimaryDiagonalDisplaySizeInInches">
                                            Census_InternalPrimaryDiagonalDisplaySizeInInches</option>
                                        <option value="Census_InternalPrimaryDisplayResolutionHorizontal">
                                            Census_InternalPrimaryDisplayResolutionHorizontal</option>
                                        <option value="Census_InternalPrimaryDisplayResolutionVertical">
                                            Census_InternalPrimaryDisplayResolutionVertical</option>
                                        <option value="Census_PowerPlatformRoleName">Census_PowerPlatformRoleName
                                        </option>
                                        <option value="Census_InternalBatteryType">Census_InternalBatteryType</option>
                                        <option value="Census_InternalBatteryNumberOfCharges">
                                            Census_InternalBatteryNumberOfCharges</option>
                                        <option value="Census_OSVersion">Census_OSVersion</option>
                                        <option value="Census_OSArchitecture">Census_OSArchitecture</option>
                                        <option value="Census_OSBranch">Census_OSBranch</option>
                                        <option value="Census_OSBuildNumber">Census_OSBuildNumber</option>
                                        <option value="Census_OSBuildRevision">Census_OSBuildRevision</option>
                                        <option value="Census_OSEdition">Census_OSEdition</option>
                                        <option value="Census_OSSkuName">Census_OSSkuName</option>
                                        <option value="Census_OSInstallTypeName">Census_OSInstallTypeName</option>
                                        <option value="Census_OSInstallLanguageIdentifier">
                                            Census_OSInstallLanguageIdentifier</option>
                                        <option value="Census_OSUILocaleIdentifier">Census_OSUILocaleIdentifier</option>
                                        <option value="Census_OSWUAutoUpdateOptionsName">
                                            Census_OSWUAutoUpdateOptionsName</option>
                                        <option value="Census_IsPortableOperatingSystem">
                                            Census_IsPortableOperatingSystem</option>
                                        <option value="Census_GenuineStateName">Census_GenuineStateName</option>
                                        <option value="Census_ActivationChannel">Census_ActivationChannel</option>
                                        <option value="Census_IsFlightingInternal">Census_IsFlightingInternal</option>
                                        <option value="Census_IsFlightsDisabled">Census_IsFlightsDisabled</option>
                                        <option value="Census_FlightRing">Census_FlightRing</option>
                                        <option value="Census_ThresholdOptIn">Census_ThresholdOptIn</option>
                                        <option value="Census_FirmwareManufacturerIdentifier">
                                            Census_FirmwareManufacturerIdentifier</option>
                                        <option value="Census_FirmwareVersionIdentifier">
                                            Census_FirmwareVersionIdentifier</option>
                                        <option value="Census_IsSecureBootEnabled">Census_IsSecureBootEnabled</option>
                                        <option value="Census_IsWIMBootEnabled">Census_IsWIMBootEnabled</option>
                                        <option value="Census_IsVirtualDevice">Census_IsVirtualDevice</option>
                                        <option value="Census_IsTouchEnabled">Census_IsTouchEnabled</option>
                                        <option value="Census_IsPenCapable">Census_IsPenCapable</option>
                                        <option value="Census_IsAlwaysOnAlwaysConnectedCapable">
                                            Census_IsAlwaysOnAlwaysConnectedCapable</option>
                                        <option value="Wdft_IsGamer">Wdft_IsGamer</option>
                                        <option value="Wdft_RegionIdentifier">Wdft_RegionIdentifier</option>
                                        <option value="HasDetections">HasDetections</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="switch sunburst right">
                                        <label>
                                            Sunburst
                                            <input type="checkbox" id="switch-sunburst">
                                            <span class="lever"></span>
                                            Icicle
                                        </label>
                                    </div>
                                    <div id="mainvis">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <ul class="collection no-margin-top">
                                <li class="collection-item">Alvin</li>
                                <li class="collection-item">Alvin</li>
                                <li class="collection-item">Alvin</li>
                                <li class="collection-item">Alvin</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--chart dashboard end-->
            {% include "footer.html" %}