{% include "header.html" %}

<!-- BEGIN: Page Main-->
<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <!--chart dashboard start-->
                <div id="dash">
                    <div class="row">
                        <div class="col s12 m8 light intro">
                            <p>
                                This is a demonstration of the innovim crowd-sourcing and continuous innovatino system
                            </p>

                            <p>
                                The exemplary code demonstrated here is produced by a student, a PHD in atmospheric physics with education in software engineering 
                            </p>

                            <p>
                                Both this website and the contributed ufs code are deployed on INNOVIM's cloud platform on AWS, and have been proven to work on.....*****TODO******
                            </p>

                            <div class="center-align">
                                <a class="btn green lighten-1 white-text" href="/flowdash"> Go to the Dashboard </a>
                            </div>
                            <br><br>
                        </div>
                        <div class="col s12 m4">
                            <ul class="collection with-header no-margin-top">
                                <li class="collection-header">
                                    <h5>Resources</h5>
                                </li>
                                <li class="collection-item"> <a href="https://gitlab.com/etcart/pace">Code Repository</a></li>
                                <li class="collection-item"> <a class="modal-trigger" href="#modal-documents">Pace V Team INNOVIM</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-documents" class="modal">
                <div class="modal-content">
                    <h4>Proposal Documents</h4>
                    <br>
                    <div class="collection">
                        <a class="collection-item" href="https://www.innovim.com">
                            INNOVIM
                         </a>
                    </div>
                    <div class="collection">
                        <a class="collection-item" href="https://www.zin-tech.com">
                            ZIN
                        </a>
                        <a class="collection-item" href="https://www.mainthia.com">
                            MTI
                        </a>
                        <a class="collection-item" href="http://www.v2portal.com/site">
                            V2
                        </a>
                        <a class="collection-item" href="https://www.v-studios.com">
                            Vstudios
                        </a>
                        <a class="collection-item" href="https://www.lentechinc.com">
                            Lentech
                        </a>
                        <a class="collection-item" href="http://oai.org">
                            OAI
                        </a>
                        <a class="collection-item" href="http://www.axiomconsultants.com/index.html">
                            Axiom
                        </a>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
            </div>
            <!--chart dashboard end-->
            {% include "footer.html" %}