{% include "header.html" %}

<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container docs">
                <h1>Analysis Documentation</h1>
            </div>
        </div>
        <div class="container docs">
            <h1>Environment</h1>
            <p>
                The data analytics employed by the Phantom Eagle-Innovim team are deeply interwoven with the Machine Learning systems used
            </p>
            <p>
                The primary Analytic tools used by the team are SAS and Python
            </p>
            <p>
                At first data ingest, and iteratively through the process of data and model optimization, data driven analytics are used to inform decision making
            </p>
            <p>
                Continuously during operation, Analysis of data drives improvements to modeling and opportunity probing for future solutions
            </p>
        </div>
        <div class="container docs">
            <h1>WorkFlow</h1>
            <p>
                Data, on first encounter is processed raw in SAS using K-means clustering, Random Forest Regression/Classification and ANN Regression/Classification
            </p>
            <p>
                The output and generated parameters of these modeling techniques inform decisions surrounding noise reduction, data culling, data balancing, and outlier handling
            </p>
            <p>
                These results are employed and verified in Python, using sklearn, tensorflow, and other toolkits as applicable
            </p>
            <p>
                As final applications operate in approprate Python systems, the above toolkits are used to validate and verify results on a continuous basis
            </p>
        </div>
        <div class="container docs">
            <h1>Takehome Challenge</h1>
            <p>
                The key insights provided by this analysis is seen in action in the cleaning phase of the kafka ingest pipeline.
            </p>
            <p>
                Analysis drives decisions made in data typing, and void replacement
            </p>
            <p>
                Determining when it is applicable to treat numbers as strings in order to eliminate numerical relationships (as in country codes) is a crucial decision in this dataset
            </p>
            <p>
                Identifying numerical results wherein there are 0 default values to take, compared to the need to take median, mode or other default values in case of empty fields, helps optimize the model further
            </p>
        </div>
    </div>
</div>

{% include "footer.html" %}