{% include "header.html" %}

<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container docs">
                <h1>System Architecture</h1>
                <img src="/img/arch-0.png">
                <h2>Landing Zone</h2>
                <p>Data arrives in a filesystem designated to be the drop location for data. This filesystem is polled for new arrivals, which are automatically ingested into the pipeline.
                </p>
                <h2>Data Processing Pipeline</h2>
                <p>We're using Apache Kafka as the enterprise service bus to transport the initial dataset through the ETL pipeline.</p>

                <p>A copy of the input data is routed to the Data Lake, which is a distributed filesystem configured for redundancy.</p>

                <p>In parallel to the Data Lake storage, a copy of the input is transformed into a structured object (JSON) and inserted into ElasticSearch. This may happen with builtin NiFi processors, but more complex processing via SAS or Python may be
                    executed using NiFi's ExecuteProcess processor to operate on the flow file.</p>

                <h2>Adding Value</h2>
                <p>Once the data is structured in ElasticSearch, it can start being consumed by analysis tools and/or aggregated with addtional datasets.</p>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}