{% include "header.html" %}

<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container docs">
                <h1>Tensorflow</h1>

                <p>Tensorflow networks are trained using a mixture of pre cleaned and organized data, and continuously using data acquired during operation.</p>

                <p>The Kafka Pipeline uses a Tensorflow model server to make predictions on all incoming data at ingestion
                </p>

            </div>
            <div class="container docs">
                <h1>Technical Specifications</h1>
            </div>
            <div class="container docs">
                <p>
                    Machine Learning analysis is made using an MLP style neural network, using 8 hidden layers of descending density, from 512 to 4 perceptrons on the final hidden layer, and a dropout rate of 10% between the first three layers
                </p>
                <p>
                    The Neural network uses a mixture of linear, hyperbolic tangent, and sigmoid activation functions to iteratively massage data into its final range and shape while accomodating input values -1 to +1
                </p>
                <p>
                    The First two layers use a linear activation function to inexpensively filter the preponderance of noise known to be present in the dataset
                </p>
                <p>
                    The Core of layers use hyperbolic tangent activation function at lower dimensionalities to perform the bulk of data synthesis, while facilitating back-propagation during fitting
                </p>
                <p>
                    The Final layer of the Neural network uses a single sigmoid perceptron to filter results into 0-1 True/False decision
                </p>
                <p>
                    The Network is created using Tensorflow, with the adam optimizer and a mean squared error loss function
                </p>
                <p>
                    This analysis achieves an area under the curve of the reciever operating characteristic of 68.9% over 600k rows sampled randomly from among the training set
                </p>
            </div>
            <div class="container docs">
                <h1>Data Pre-Processing</h1>
                <p>
                    The data is sorted into text data and numerical data (see kr/ml/predictor/dataScheme for specifications on what fields are text and numerical)
                </p>
                <p>
                    All text data is treated as a "word" each and summed into a hash reduced bag of words model (1000 dimensions, 6 non-zeros)
                </p>
                <p>
                    Empty text data fields are kept empty, their data can simply be ignored in the hashing process
                </p>
                <p>
                    Any data which is not text data is treated as a floating point value, normalized to between -1 and +1.
                </p>
                <p>
                    Empty numerical data fields are filled with either a median value for the data point, or a 0 value at the designers discretion
                </p>
                <p>
                    The final numerical form of a data row is the concatenation of the text vector and scaled numerical data, ready to be fed into the model
                </p>
            </div>
            <div class="container docs">
                <h1>Model Serving</h1>
                <p>
                    The model is served using an Innovim developed tool which wraps the core model in graph and session architecture, ensuring that fit and predict calls are mutex locked and threadsafe
                </p>
                <p>
                    The server uses soft device placement to adapt to the available hardware and maximize performance on any given machine
                </p>
                <p>
                    Final service is done using a flask app, exposing three rest endpoints: /fit (put) /predict (post) /check (any)
                </p>
                <p>
                    Fitting expects a json input of structure {'inputs': [inputData array], 'outputs': [labelData array], 'epochs': integer}
                </p>
                <p>
                    Prediction expects a json input of structure {'inputs': [inputData array]}
                </p>
                <p>
                    Check merely returns a status code and the word "ready", if the model is being served
                </p>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}