{% include "header.html" %}

<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container docs">
                <h1>Data Ingest Pipeline</h1>
                <h2>Source Data</h2>
                <p>Original dataset is CSV with 80 columns.</p>
                <pre>
MachineIdentifier,ProductName,EngineVersion,AppVersion,AvSigVersion,IsBeta,RtpStateBitfield,IsSxsPassiveMode,DefaultBrowsersIdentifier,AVProductStatesIdentifier,AVProductsInstalled,AVProductsEnabled,HasTpm,CountryIdentifier,CityIdentifier,OrganizationIdentifier,GeoNameIdentifier,LocaleEnglishNameIdentifier,Platform,Processor,OsVer,OsBuild,OsSuite,OsPlatformSubRelease,OsBuildLab,SkuEdition,IsProtected,AutoSampleOptIn,PuaMode,SMode,IeVerIdentifier,SmartScreen,Firewall,UacLuaenable,Census_MDC2FormFactor,Census_DeviceFamily,Census_OEMNameIdentifier,Census_OEMModelIdentifier,Census_ProcessorCoreCount,Census_ProcessorManufacturerIdentifier,Census_ProcessorModelIdentifier,Census_ProcessorClass,Census_PrimaryDiskTotalCapacity,Census_PrimaryDiskTypeName,Census_SystemVolumeTotalCapacity,Census_HasOpticalDiskDrive,Census_TotalPhysicalRAM,Census_ChassisTypeName,Census_InternalPrimaryDiagonalDisplaySizeInInches,Census_InternalPrimaryDisplayResolutionHorizontal,Census_InternalPrimaryDisplayResolutionVertical,Census_PowerPlatformRoleName,Census_InternalBatteryType,Census_InternalBatteryNumberOfCharges,Census_OSVersion,Census_OSArchitecture,Census_OSBranch,Census_OSBuildNumber,Census_OSBuildRevision,Census_OSEdition,Census_OSSkuName,Census_OSInstallTypeName,Census_OSInstallLanguageIdentifier,Census_OSUILocaleIdentifier,Census_OSWUAutoUpdateOptionsName,Census_IsPortableOperatingSystem,Census_GenuineStateName,Census_ActivationChannel,Census_IsFlightingInternal,Census_IsFlightsDisabled,Census_FlightRing,Census_ThresholdOptIn,Census_FirmwareManufacturerIdentifier,Census_FirmwareVersionIdentifier,Census_IsSecureBootEnabled,Census_IsWIMBootEnabled,Census_IsVirtualDevice,Census_IsTouchEnabled,Census_IsPenCapable,Census_IsAlwaysOnAlwaysConnectedCapable,Wdft_IsGamer,Wdft_RegionIdentifier
0000010489e3af074adeac69c53e555e,win8defender,1.1.15400.5,4.18.1810.5,1.281.501.0,0,7,0,,53447,1,1,1,43,58552,18,53,42,windows10,x64,10.0.0.0,15063,768,rs2,15063.0.amd64fre.rs2_release.170317-1834,Home,1,0,,,108,,1,1,Notebook,Windows.Desktop,2689,30661,4,5,3063,,488386,SSD,123179,0,8192,Notebook,15.5,1920,1080,Mobile,,8,10.0.15063.1387,amd64,rs2_release,15063,1387,Core,CORE,Reset,37,158,AutoInstallAndRebootAtMaintenanceTime,0,IS_GENUINE,OEM:DM,,0,Retail,,807,8554,1,,0,0,0,0,0,7
00000176ac758d54827acd545b6315a5,win8defender,1.1.15400.4,4.18.1809.2,1.279.301.0,0,7,0,,53447,1,1,1,68,71395,,276,74,windows10,x64,10.0.0.0,16299,768,rs3,16299.431.amd64fre.rs3_release_svc_escrow.180502-1908,Home,1,0,,,117,RequireAdmin,1,1,Notebook,Windows.Desktop,2206,242491,4,5,3410,,1907729,HDD,1882352,0,8192,Notebook,15.5,1366,768,Mobile,,0,10.0.16299.611,amd64,rs3_release_svc_escrow,16299,611,Core,CORE,UUPUpgrade,7,30,AutoInstallAndRebootAtMaintenanceTime,0,IS_GENUINE,Retail,,0,Retail,,554,33105,1,,0,0,0,0,1,12
0000019dcefc128c2d4387c1273dae1d,win8defender,1.1.15300.6,4.18.1809.2,1.277.230.0,0,7,0,,49480,2,1,1,201,66202,,267,251,windows10,x64,10.0.0.0,14393,768,rs1,14393.2189.amd64fre.rs1_release.180329-1711,Home,1,0,,,98,RequireAdmin,1,1,Notebook,Windows.Desktop,585,189533,2,5,2097,,29820,SSD,28678,0,4096,Notebook,13.9,1280,720,Mobile,,0,10.0.14393.2189,amd64,rs1_release,14393,2189,CoreSingleLanguage,CORE_SINGLELANGUAGE,Other,35,148,UNKNOWN,0,IS_GENUINE,OEM:DM,,0,Retail,,556,63396,1,,0,0,0,0,1,11

                </pre>

                <h2>Transform</h2>
                <p>The CSV rows (each representing a computer) are converted to JSON objects and inserted into an elastic index.</p>

                <pre>
                    {
                        "_index" : "ms_train",
                        "_type" : "_doc",
                        "_id" : "X7RA7G4BawiohtBbjvmG",
                        "_version" : 1,
                        "_seq_no" : 103990,
                        "_primary_term" : 1,
                        "found" : true,
                        "_source" : {
                          "MachineIdentifier" : "02ff0d61d22a3ec2be65f76bdcfc2d16",
                          "ProductName" : "win8defender",
                          "EngineVersion" : "1.1.15100.1",
                          "AppVersion" : "4.18.1807.18075",
                          "AvSigVersion" : "1.273.1552.0",
                          "IsBeta" : "0",
                          "RtpStateBitfield" : "7",
                          "IsSxsPassiveMode" : "0",
                          "DefaultBrowsersIdentifier" : "",
                          "AVProductStatesIdentifier" : "53447",
                          "AVProductsInstalled" : "1",
                          "AVProductsEnabled" : "1",
                          "HasTpm" : "1",
                          "CountryIdentifier" : "164",
                          "CityIdentifier" : "100094",
                          "OrganizationIdentifier" : "27",
                          "GeoNameIdentifier" : "205",
                          "LocaleEnglishNameIdentifier" : "172",
                          "Platform" : "windows10",
                          "Processor" : "x64",
                          "OsVer" : "10.0.0.0",
                          "OsBuild" : "16299",
                          "OsSuite" : "768",
                          "OsPlatformSubRelease" : "rs3",
                          "OsBuildLab" : "16299.15.amd64fre.rs3_release.170928-1534",
                          "SkuEdition" : "Home",
                          "IsProtected" : "1",
                          "AutoSampleOptIn" : "0",
                          "PuaMode" : "",
                          "SMode" : "0",
                          "IeVerIdentifier" : "117",
                          "SmartScreen" : "ExistsNotSet",
                          "Firewall" : "1",
                          "UacLuaenable" : "1",
                          "Census_MDC2FormFactor" : "Notebook",
                          "Census_DeviceFamily" : "Windows.Desktop",
                          "Census_OEMNameIdentifier" : "4730",
                          "Census_OEMModelIdentifier" : "311102",
                          "Census_ProcessorCoreCount" : "2",
                          "Census_ProcessorManufacturerIdentifier" : "5",
                          "Census_ProcessorModelIdentifier" : "4337",
                          "Census_ProcessorClass" : "",
                          "Census_PrimaryDiskTotalCapacity" : "476940",
                          "Census_PrimaryDiskTypeName" : "HDD",
                          "Census_SystemVolumeTotalCapacity" : "475961",
                          "Census_HasOpticalDiskDrive" : "0",
                          "Census_TotalPhysicalRAM" : "4096",
                          "Census_ChassisTypeName" : "Notebook",
                          "Census_InternalPrimaryDiagonalDisplaySizeInInches" : "15.5",
                          "Census_InternalPrimaryDisplayResolutionHorizontal" : "1366",
                          "Census_InternalPrimaryDisplayResolutionVertical" : "768",
                          "Census_PowerPlatformRoleName" : "Mobile",
                          "Census_InternalBatteryType" : "li-i",
                          "Census_InternalBatteryNumberOfCharges" : "0",
                          "Census_OSVersion" : "10.0.16299.371",
                          "Census_OSArchitecture" : "amd64",
                          "Census_OSBranch" : "rs3_release",
                          "Census_OSBuildNumber" : "16299",
                          "Census_OSBuildRevision" : "371",
                          "Census_OSEdition" : "Core",
                          "Census_OSSkuName" : "CORE",
                          "Census_OSInstallTypeName" : "Update",
                          "Census_OSInstallLanguageIdentifier" : "27",
                          "Census_OSUILocaleIdentifier" : "120",
                          "Census_OSWUAutoUpdateOptionsName" : "Notify",
                          "Census_IsPortableOperatingSystem" : "0",
                          "Census_GenuineStateName" : "IS_GENUINE",
                          "Census_ActivationChannel" : "Retail",
                          "Census_IsFlightingInternal" : "0",
                          "Census_IsFlightsDisabled" : "0",
                          "Census_FlightRing" : "Retail",
                          "Census_ThresholdOptIn" : "0",
                          "Census_FirmwareManufacturerIdentifier" : "897",
                          "Census_FirmwareVersionIdentifier" : "7221",
                          "Census_IsSecureBootEnabled" : "0",
                          "Census_IsWIMBootEnabled" : "0",
                          "Census_IsVirtualDevice" : "0",
                          "Census_IsTouchEnabled" : "0",
                          "Census_IsPenCapable" : "0",
                          "Census_IsAlwaysOnAlwaysConnectedCapable" : "0",
                          "Wdft_IsGamer" : "0",
                          "Wdft_RegionIdentifier" : "15",
                          "HasDetections" : "1"
                        }
                      }
                </pre>

                <p>A second run converts strings to numeric and boolean values as appropriate.</p>

                <pre>
                    {
                        "_index" : "ms_train",
                        "_type" : "_doc",
                        "_id" : "X7RA7G4BawiohtBbjvmG",
                        "_version" : 1,
                        "_seq_no" : 103990,
                        "_primary_term" : 1,
                        "found" : true,
                        "_source" : {
                          "MachineIdentifier" : "02ff0d61d22a3ec2be65f76bdcfc2d16",
                          "ProductName" : "win8defender",
                          "EngineVersion" : "1.1.15100.1",
                          "AppVersion" : "4.18.1807.18075",
                          "AvSigVersion" : "1.273.1552.0",
                          "IsBeta" : false,
                          "RtpStateBitfield" : 7,
                          "IsSxsPassiveMode" : false,
                          "DefaultBrowsersIdentifier" : "",
                          "AVProductStatesIdentifier" : "53447",
                          "AVProductsInstalled" : 1,
                          "AVProductsEnabled" : 1,
                          "HasTpm" : true,
                          "CountryIdentifier" : 164,
                          "CityIdentifier" : 100094,
                          "OrganizationIdentifier" : 27,
                          "GeoNameIdentifier" : 205,
                          "LocaleEnglishNameIdentifier" : 172,
                          "Platform" : "windows10",
                          "Processor" : "x64",
                          "OsVer" : "10.0.0.0",
                          "OsBuild" : "16299",
                          "OsSuite" : "768",
                          "OsPlatformSubRelease" : "rs3",
                          "OsBuildLab" : "16299.15.amd64fre.rs3_release.170928-1534",
                          "SkuEdition" : "Home",
                          "IsProtected" : true,
                          "AutoSampleOptIn" : false,
                          "PuaMode" : "",
                          "SMode" : "0",
                          "IeVerIdentifier" : "117",
                          "SmartScreen" : "ExistsNotSet",
                          "Firewall" : true,
                          "UacLuaenable" : true,
                          "Census_MDC2FormFactor" : "Notebook",
                          "Census_DeviceFamily" : "Windows.Desktop",
                          "Census_OEMNameIdentifier" : "4730",
                          "Census_OEMModelIdentifier" : "311102",
                          "Census_ProcessorCoreCount" : 2,
                          "Census_ProcessorManufacturerIdentifier" : "5",
                          "Census_ProcessorModelIdentifier" : "4337",
                          "Census_ProcessorClass" : "",
                          "Census_PrimaryDiskTotalCapacity" : "476940",
                          "Census_PrimaryDiskTypeName" : "HDD",
                          "Census_SystemVolumeTotalCapacity" : "475961",
                          "Census_HasOpticalDiskDrive" : false,
                          "Census_TotalPhysicalRAM" : 4096,
                          "Census_ChassisTypeName" : "Notebook",
                          "Census_InternalPrimaryDiagonalDisplaySizeInInches" : 15.5,
                          "Census_InternalPrimaryDisplayResolutionHorizontal" : 1366,
                          "Census_InternalPrimaryDisplayResolutionVertical" : 768,
                          "Census_PowerPlatformRoleName" : "Mobile",
                          "Census_InternalBatteryType" : "li-i",
                          "Census_InternalBatteryNumberOfCharges" : 0,
                          "Census_OSVersion" : "10.0.16299.371",
                          "Census_OSArchitecture" : "amd64",
                          "Census_OSBranch" : "rs3_release",
                          "Census_OSBuildNumber" : "16299",
                          "Census_OSBuildRevision" : "371",
                          "Census_OSEdition" : "Core",
                          "Census_OSSkuName" : "CORE",
                          "Census_OSInstallTypeName" : "Update",
                          "Census_OSInstallLanguageIdentifier" : 27,
                          "Census_OSUILocaleIdentifier" : 120,
                          "Census_OSWUAutoUpdateOptionsName" : "Notify",
                          "Census_IsPortableOperatingSystem" : false,
                          "Census_GenuineStateName" : "IS_GENUINE",
                          "Census_ActivationChannel" : "Retail",
                          "Census_IsFlightingInternal" : false,
                          "Census_IsFlightsDisabled" : false,
                          "Census_FlightRing" : "Retail",
                          "Census_ThresholdOptIn" : "0",
                          "Census_FirmwareManufacturerIdentifier" : "897",
                          "Census_FirmwareVersionIdentifier" : "7221",
                          "Census_IsSecureBootEnabled" : false,
                          "Census_IsWIMBootEnabled" : false,
                          "Census_IsVirtualDevice" : false,
                          "Census_IsTouchEnabled" : false,
                          "Census_IsPenCapable" : false,
                          "Census_IsAlwaysOnAlwaysConnectedCapable" : false,
                          "Wdft_IsGamer" : false,
                          "Wdft_RegionIdentifier" : 15,
                          "HasDetections" : true
                        }
                      }
                </pre>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}