{% include "header.html" %}

<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container docs">
                <h1>Web Application</h1>
                <h2>Summary</h2>
                <p>The web application is built using Python and Flask with Jinja2 as a template engine. The front-end uses NPM and webpack to handle dependency management and builds. <i>package.json</i> also contains scripts for various other devops operations
                    like testing, packaging and deployment.</p>
                <p>We are using Babel with Webpack in order to take advantage of recent ECMAScript versions (ES6/7/8) during development while providing maximum browser compatibility via transpilation (with Babel) to ES5.</p>
                <h2>Prerequisties</h2>
                <p>Node 10.15.2 </p>
                <p>Python 3.6.4</p>
                <h2>Installation</h2>
                <p>After cloning the repository you should install the dependencies.</p>
                <pre class="code">
 # install python dependencies
 > pip install -r requirements.txt
                </pre>
                <pre class="code">
 # install web application dependencies
 > npm install
                </pre>

                <h2>Starting the Web Application</h2>
                <pre class="code">
 # start the web application on localhost in debug mode
 > npm start
 * Serving Flask app "kr/server.py" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: on
 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with stat
 * Debugger is active!
 * Debugger PIN: 231-937-273
                </pre>

                <h2>Development Loop</h2>
                While the web application is running, in another terminal start webpack --watch
                <pre class="code">
 # run webpack-watch to automatically transpile js updates
 > npm run ww
 webpack is watching the files…

                </pre>

                <h2>Deployment Steps</h2>

                <p>Start Zookeeper and Kafka</p>
                <pre class="code">
> /usr/local/kafka/kafka_2.12-2.2.1/bin/zookeeper-server-start.sh  /usr/local/kafka/kafka_2.12-2.2.1/config/zookeeper.properties
> usr/local/kafka/kafka_2.12-2.2.1/bin/kafka-server-start.sh /usr/local/kafka/kafka_2.12-2.2.1/config/server.properties
                </pre>

                <p>Start ETL Kafka Consumers/Producers</p>
                <pre class="code">
> npm run kafka-intake
> npm run kafka-clean
> npm run kafka-predict
                </pre>

                <p>Start Tensorflow Server on ML host</p>
                <pre class="code">
> source activate tensorflow_p36
> start predictor
                </pre>


                <p>Start Web Application</p>
                <pre class="code">
> npm run server
                </pre>

            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}