</div>


</div>
</div>
</div>
</div>
<!-- END: Page Main-->

<!-- BEGIN: Footer-->

<footer class="page-footer footer footer-static footer-dark gradient-45deg-light-blue-cyan gradient-shadow navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container"><span><a href="http://www.innovim.com" target="_blank">INNOVIM</a></span></div>
    </div>
</footer>

<!-- END: Footer-->
<!-- BEGIN VENDOR JS-->
<script src="/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="/vendors/sparkline/jquery.sparkline.min.js"></script>
<script src="/vendors/chartjs/chart.min.js"></script>
<!-- <script src="/vendors/jquery-jvectormap/jquery-jvectormap.min.js"></script>
<script src="/vendors/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script> -->
<!-- END PAGE VENDOR JS-->
<!-- BEGIN THEME  JS-->
<script src="/js/plugins.js" type="text/javascript"></script>
<script src="/js/custom/custom-script.js" type="text/javascript"></script>
<!-- END THEME  JS-->
<!-- BEGIN PAGE LEVEL JS-->

<script src="/js/scripts/dashboard-analytics.js" type="text/javascript"></script>
<script src="/js/simple-flow.min.js" type="text/javascript"></script>

<!-- <script src="/js/scripts/vectormap-script.js" type="text/javascript"></script> -->
<!-- END PAGE LEVEL JS-->
<!-- <script src="/js/scripts/data-tables.js" type="text/javascript"></script> -->
<script src="/vendors/data-tables/js/jquery.dataTables.js" type="text/javascript"></script>

<script src="//unpkg.com/sunburst-chart"></script>
<script src="//unpkg.com/icicle-chart"></script>
<script src="/js/web.bundle.js?v={{v}}"></script>
<!-- END PAGE LEVEL JS-->
</body>

</html>