
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  background: linear-gradient(45deg, #ffffff 0%, rgba(187, 147, 252, 0.8) 26%, #94edff 50%);
}

.bubble {
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}
.bubble-1 {
  opacity: 0.36;
  left: 76vw;
  top: 40vh;
  animation: move-1 30.02s infinite;
  -moz-transform: translate(0, 0) scale(0.06);
  -ms-transform: translate(0, 0) scale(0.06);
  -webkit-transform: translate(0, 0) scale(0.06);
  transform: translate(0, 0) scale(0.06);
}
.bubble-2 {
  opacity: 0.65;
  left: 18vw;
  top: 27vh;
  animation: move-2 30.04s infinite;
  -moz-transform: translate(0, 0) scale(0.19);
  -ms-transform: translate(0, 0) scale(0.19);
  -webkit-transform: translate(0, 0) scale(0.19);
  transform: translate(0, 0) scale(0.19);
}
.bubble-3 {
  opacity: 1;
  left: 39vw;
  top: 77vh;
  animation: move-3 30.06s infinite;
  -moz-transform: translate(0, 0) scale(1.23);
  -ms-transform: translate(0, 0) scale(1.23);
  -webkit-transform: translate(0, 0) scale(1.23);
  transform: translate(0, 0) scale(1.23);
}
.bubble-4 {
  opacity: 0.74;
  left: 60vw;
  top: 51vh;
  animation: move-4 30.08s infinite;
  -moz-transform: translate(0, 0) scale(1.06);
  -ms-transform: translate(0, 0) scale(1.06);
  -webkit-transform: translate(0, 0) scale(1.06);
  transform: translate(0, 0) scale(1.06);
}
.bubble-5 {
  opacity: 0.89;
  left: 38vw;
  top: 36vh;
  animation: move-5 30.1s infinite;
  -moz-transform: translate(0, 0) scale(1.53);
  -ms-transform: translate(0, 0) scale(1.53);
  -webkit-transform: translate(0, 0) scale(1.53);
  transform: translate(0, 0) scale(1.53);
}
.bubble-6 {
  opacity: 0.36;
  left: 18vw;
  top: 8vh;
  animation: move-6 30.12s infinite;
  -moz-transform: translate(0, 0) scale(0.17);
  -ms-transform: translate(0, 0) scale(0.17);
  -webkit-transform: translate(0, 0) scale(0.17);
  transform: translate(0, 0) scale(0.17);
}
.bubble-7 {
  opacity: 0.36;
  left: 10vw;
  top: 93vh;
  animation: move-7 30.14s infinite;
  -moz-transform: translate(0, 0) scale(0.5);
  -ms-transform: translate(0, 0) scale(0.5);
  -webkit-transform: translate(0, 0) scale(0.5);
  transform: translate(0, 0) scale(0.5);
}
.bubble-8 {
  opacity: 0.25;
  left: 76vw;
  top: 81vh;
  animation: move-8 30.16s infinite;
  -moz-transform: translate(0, 0) scale(1.71);
  -ms-transform: translate(0, 0) scale(1.71);
  -webkit-transform: translate(0, 0) scale(1.71);
  transform: translate(0, 0) scale(1.71);
}
.bubble-9 {
  opacity: 0.59;
  left: 18vw;
  top: 93vh;
  animation: move-9 30.18s infinite;
  -moz-transform: translate(0, 0) scale(0.53);
  -ms-transform: translate(0, 0) scale(0.53);
  -webkit-transform: translate(0, 0) scale(0.53);
  transform: translate(0, 0) scale(0.53);
}
.bubble-10 {
  opacity: 0.81;
  left: 50vw;
  top: 53vh;
  animation: move-10 30.2s infinite;
  -moz-transform: translate(0, 0) scale(0.52);
  -ms-transform: translate(0, 0) scale(0.52);
  -webkit-transform: translate(0, 0) scale(0.52);
  transform: translate(0, 0) scale(0.52);
}
.bubble-11 {
  opacity: 0.4;
  left: 56vw;
  top: 77vh;
  animation: move-11 30.22s infinite;
  -moz-transform: translate(0, 0) scale(0.16);
  -ms-transform: translate(0, 0) scale(0.16);
  -webkit-transform: translate(0, 0) scale(0.16);
  transform: translate(0, 0) scale(0.16);
}
.bubble-12 {
  opacity: 0.18;
  left: 87vw;
  top: 31vh;
  animation: move-12 30.24s infinite;
  -moz-transform: translate(0, 0) scale(1.21);
  -ms-transform: translate(0, 0) scale(1.21);
  -webkit-transform: translate(0, 0) scale(1.21);
  transform: translate(0, 0) scale(1.21);
}
.bubble-13 {
  opacity: 0.7;
  left: 66vw;
  top: 78vh;
  animation: move-13 30.26s infinite;
  -moz-transform: translate(0, 0) scale(0.41);
  -ms-transform: translate(0, 0) scale(0.41);
  -webkit-transform: translate(0, 0) scale(0.41);
  transform: translate(0, 0) scale(0.41);
}
.bubble-14 {
  opacity: 0.33;
  left: 68vw;
  top: 100vh;
  animation: move-14 30.28s infinite;
  -moz-transform: translate(0, 0) scale(0.24);
  -ms-transform: translate(0, 0) scale(0.24);
  -webkit-transform: translate(0, 0) scale(0.24);
  transform: translate(0, 0) scale(0.24);
}
.bubble-15 {
  opacity: 0.23;
  left: 97vw;
  top: 65vh;
  animation: move-15 30.3s infinite;
  -moz-transform: translate(0, 0) scale(1.01);
  -ms-transform: translate(0, 0) scale(1.01);
  -webkit-transform: translate(0, 0) scale(1.01);
  transform: translate(0, 0) scale(1.01);
}
.bubble-16 {
  opacity: 0.67;
  left: 20vw;
  top: 76vh;
  animation: move-16 30.32s infinite;
  -moz-transform: translate(0, 0) scale(1.45);
  -ms-transform: translate(0, 0) scale(1.45);
  -webkit-transform: translate(0, 0) scale(1.45);
  transform: translate(0, 0) scale(1.45);
}
.bubble-17 {
  opacity: 0.68;
  left: 34vw;
  top: 44vh;
  animation: move-17 30.34s infinite;
  -moz-transform: translate(0, 0) scale(0.22);
  -ms-transform: translate(0, 0) scale(0.22);
  -webkit-transform: translate(0, 0) scale(0.22);
  transform: translate(0, 0) scale(0.22);
}
.bubble-18 {
  opacity: 0.05;
  left: 4vw;
  top: 45vh;
  animation: move-18 30.36s infinite;
  -moz-transform: translate(0, 0) scale(1.61);
  -ms-transform: translate(0, 0) scale(1.61);
  -webkit-transform: translate(0, 0) scale(1.61);
  transform: translate(0, 0) scale(1.61);
}
.bubble-19 {
  opacity: 0.44;
  left: 91vw;
  top: 95vh;
  animation: move-19 30.38s infinite;
  -moz-transform: translate(0, 0) scale(0.34);
  -ms-transform: translate(0, 0) scale(0.34);
  -webkit-transform: translate(0, 0) scale(0.34);
  transform: translate(0, 0) scale(0.34);
}
.bubble-20 {
  opacity: 0.28;
  left: 33vw;
  top: 25vh;
  animation: move-20 30.4s infinite;
  -moz-transform: translate(0, 0) scale(1.91);
  -ms-transform: translate(0, 0) scale(1.91);
  -webkit-transform: translate(0, 0) scale(1.91);
  transform: translate(0, 0) scale(1.91);
}
.bubble-21 {
  opacity: 0.21;
  left: 59vw;
  top: 30vh;
  animation: move-21 30.42s infinite;
  -moz-transform: translate(0, 0) scale(1.71);
  -ms-transform: translate(0, 0) scale(1.71);
  -webkit-transform: translate(0, 0) scale(1.71);
  transform: translate(0, 0) scale(1.71);
}
.bubble-22 {
  opacity: 0.13;
  left: 72vw;
  top: 89vh;
  animation: move-22 30.44s infinite;
  -moz-transform: translate(0, 0) scale(0.4);
  -ms-transform: translate(0, 0) scale(0.4);
  -webkit-transform: translate(0, 0) scale(0.4);
  transform: translate(0, 0) scale(0.4);
}
.bubble-23 {
  opacity: 0.53;
  left: 12vw;
  top: 32vh;
  animation: move-23 30.46s infinite;
  -moz-transform: translate(0, 0) scale(1.2);
  -ms-transform: translate(0, 0) scale(1.2);
  -webkit-transform: translate(0, 0) scale(1.2);
  transform: translate(0, 0) scale(1.2);
}
.bubble-24 {
  opacity: 0.26;
  left: 18vw;
  top: 89vh;
  animation: move-24 30.48s infinite;
  -moz-transform: translate(0, 0) scale(0.68);
  -ms-transform: translate(0, 0) scale(0.68);
  -webkit-transform: translate(0, 0) scale(0.68);
  transform: translate(0, 0) scale(0.68);
}
.bubble-25 {
  opacity: 0.06;
  left: 60vw;
  top: 15vh;
  animation: move-25 30.5s infinite;
  -moz-transform: translate(0, 0) scale(0.36);
  -ms-transform: translate(0, 0) scale(0.36);
  -webkit-transform: translate(0, 0) scale(0.36);
  transform: translate(0, 0) scale(0.36);
}
.bubble-26 {
  opacity: 0.34;
  left: 93vw;
  top: 45vh;
  animation: move-26 30.52s infinite;
  -moz-transform: translate(0, 0) scale(1.68);
  -ms-transform: translate(0, 0) scale(1.68);
  -webkit-transform: translate(0, 0) scale(1.68);
  transform: translate(0, 0) scale(1.68);
}
.bubble-27 {
  opacity: 0.48;
  left: 73vw;
  top: 92vh;
  animation: move-27 30.54s infinite;
  -moz-transform: translate(0, 0) scale(1.72);
  -ms-transform: translate(0, 0) scale(1.72);
  -webkit-transform: translate(0, 0) scale(1.72);
  transform: translate(0, 0) scale(1.72);
}
.bubble-28 {
  opacity: 0.27;
  left: 45vw;
  top: 49vh;
  animation: move-28 30.56s infinite;
  -moz-transform: translate(0, 0) scale(0.54);
  -ms-transform: translate(0, 0) scale(0.54);
  -webkit-transform: translate(0, 0) scale(0.54);
  transform: translate(0, 0) scale(0.54);
}
.bubble-29 {
  opacity: 0.32;
  left: 67vw;
  top: 55vh;
  animation: move-29 30.58s infinite;
  -moz-transform: translate(0, 0) scale(0.43);
  -ms-transform: translate(0, 0) scale(0.43);
  -webkit-transform: translate(0, 0) scale(0.43);
  transform: translate(0, 0) scale(0.43);
}
.bubble-30 {
  opacity: 0.1;
  left: 78vw;
  top: 91vh;
  animation: move-30 30.6s infinite;
  -moz-transform: translate(0, 0) scale(1.48);
  -ms-transform: translate(0, 0) scale(1.48);
  -webkit-transform: translate(0, 0) scale(1.48);
  transform: translate(0, 0) scale(1.48);
}

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 111;
}
.credits a {
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  letter-spacing: 0.05em;
}

@keyframes move-1 {
  56% {
    -moz-transform: translate(-67vw, -29vh);
    -webkit-transform: translate(-67vw, -29vh);
    transform: translate(-67vw, -29vh);
  }
}
@keyframes move-2 {
  38% {
    -moz-transform: translate(-49vw, -83vh);
    -webkit-transform: translate(-49vw, -83vh);
    transform: translate(-49vw, -83vh);
  }
}
@keyframes move-3 {
  33% {
    -moz-transform: translate(-17vw, -25vh);
    -webkit-transform: translate(-17vw, -25vh);
    transform: translate(-17vw, -25vh);
  }
}
@keyframes move-4 {
  32% {
    -moz-transform: translate(-41vw, -96vh);
    -webkit-transform: translate(-41vw, -96vh);
    transform: translate(-41vw, -96vh);
  }
}
@keyframes move-5 {
  45% {
    -moz-transform: translate(-44vw, -12vh);
    -webkit-transform: translate(-44vw, -12vh);
    transform: translate(-44vw, -12vh);
  }
}
@keyframes move-6 {
  43% {
    -moz-transform: translate(-46vw, -96vh);
    -webkit-transform: translate(-46vw, -96vh);
    transform: translate(-46vw, -96vh);
  }
}
@keyframes move-7 {
  34% {
    -moz-transform: translate(-17vw, -47vh);
    -webkit-transform: translate(-17vw, -47vh);
    transform: translate(-17vw, -47vh);
  }
}
@keyframes move-8 {
  44% {
    -moz-transform: translate(-97vw, -45vh);
    -webkit-transform: translate(-97vw, -45vh);
    transform: translate(-97vw, -45vh);
  }
}
@keyframes move-9 {
  34% {
    -moz-transform: translate(-64vw, -61vh);
    -webkit-transform: translate(-64vw, -61vh);
    transform: translate(-64vw, -61vh);
  }
}
@keyframes move-10 {
  42% {
    -moz-transform: translate(-81vw, -49vh);
    -webkit-transform: translate(-81vw, -49vh);
    transform: translate(-81vw, -49vh);
  }
}
@keyframes move-11 {
  58% {
    -moz-transform: translate(-57vw, -98vh);
    -webkit-transform: translate(-57vw, -98vh);
    transform: translate(-57vw, -98vh);
  }
}
@keyframes move-12 {
  36% {
    -moz-transform: translate(-8vw, -2vh);
    -webkit-transform: translate(-8vw, -2vh);
    transform: translate(-8vw, -2vh);
  }
}
@keyframes move-13 {
  36% {
    -moz-transform: translate(-56vw, -53vh);
    -webkit-transform: translate(-56vw, -53vh);
    transform: translate(-56vw, -53vh);
  }
}
@keyframes move-14 {
  41% {
    -moz-transform: translate(-12vw, -31vh);
    -webkit-transform: translate(-12vw, -31vh);
    transform: translate(-12vw, -31vh);
  }
}
@keyframes move-15 {
  45% {
    -moz-transform: translate(-69vw, -99vh);
    -webkit-transform: translate(-69vw, -99vh);
    transform: translate(-69vw, -99vh);
  }
}
@keyframes move-16 {
  60% {
    -moz-transform: translate(-71vw, -68vh);
    -webkit-transform: translate(-71vw, -68vh);
    transform: translate(-71vw, -68vh);
  }
}
@keyframes move-17 {
  60% {
    -moz-transform: translate(-62vw, -55vh);
    -webkit-transform: translate(-62vw, -55vh);
    transform: translate(-62vw, -55vh);
  }
}
@keyframes move-18 {
  59% {
    -moz-transform: translate(-23vw, -41vh);
    -webkit-transform: translate(-23vw, -41vh);
    transform: translate(-23vw, -41vh);
  }
}
@keyframes move-19 {
  33% {
    -moz-transform: translate(-59vw, -48vh);
    -webkit-transform: translate(-59vw, -48vh);
    transform: translate(-59vw, -48vh);
  }
}
@keyframes move-20 {
  40% {
    -moz-transform: translate(-90vw, -79vh);
    -webkit-transform: translate(-90vw, -79vh);
    transform: translate(-90vw, -79vh);
  }
}
@keyframes move-21 {
  60% {
    -moz-transform: translate(-15vw, -1vh);
    -webkit-transform: translate(-15vw, -1vh);
    transform: translate(-15vw, -1vh);
  }
}
@keyframes move-22 {
  34% {
    -moz-transform: translate(-86vw, -66vh);
    -webkit-transform: translate(-86vw, -66vh);
    transform: translate(-86vw, -66vh);
  }
}
@keyframes move-23 {
  41% {
    -moz-transform: translate(-93vw, -41vh);
    -webkit-transform: translate(-93vw, -41vh);
    transform: translate(-93vw, -41vh);
  }
}
@keyframes move-24 {
  31% {
    -moz-transform: translate(-38vw, -82vh);
    -webkit-transform: translate(-38vw, -82vh);
    transform: translate(-38vw, -82vh);
  }
}
@keyframes move-25 {
  47% {
    -moz-transform: translate(-83vw, -66vh);
    -webkit-transform: translate(-83vw, -66vh);
    transform: translate(-83vw, -66vh);
  }
}
@keyframes move-26 {
  49% {
    -moz-transform: translate(-35vw, -99vh);
    -webkit-transform: translate(-35vw, -99vh);
    transform: translate(-35vw, -99vh);
  }
}
@keyframes move-27 {
  46% {
    -moz-transform: translate(-64vw, -52vh);
    -webkit-transform: translate(-64vw, -52vh);
    transform: translate(-64vw, -52vh);
  }
}
@keyframes move-28 {
  53% {
    -moz-transform: translate(-74vw, -99vh);
    -webkit-transform: translate(-74vw, -99vh);
    transform: translate(-74vw, -99vh);
  }
}
@keyframes move-29 {
  40% {
    -moz-transform: translate(-23vw, -82vh);
    -webkit-transform: translate(-23vw, -82vh);
    transform: translate(-23vw, -82vh);
  }
}
@keyframes move-30 {
  48% {
    -moz-transform: translate(-85vw, -47vh);
    -webkit-transform: translate(-85vw, -47vh);
    transform: translate(-85vw, -47vh);
  }
}
