#walkthrough-nasa .modal.open {
  height: 100%;
  max-height: 80%; }

#walkthrough-nasa .modal.open .modal-content {
  overflow: hidden;
  height: 100%; }

#walkthrough-nasa .modal .modal-close span i.material-icons {
  font-size: 16px;
  position: relative;
  top: 2px;
  margin-left: 5px; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider {
  height: 100% !important; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-fixed-item .middle-indicator-text {
  position: absolute; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-fixed-item .middle-indicator-text.moveNextCarousel {
  top: -5px;
  right: -0;
  border-radius: 30px; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-fixed-item .middle-indicator-text.moveNextCarousel:hover {
  color: #fff !important;
  background-color: #8e24aa; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-fixed-item .middle-indicator-text.movePrevCarousel {
  top: -5px;
  left: -0;
  border-radius: 30px; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-fixed-item .middle-indicator-text.movePrevCarousel:hover {
  color: #fff !important;
  background-color: #8e24aa; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-fixed-item i.material-icons {
  line-height: 1;
  position: relative;
  top: 4px; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-item .slide-2-img {
  width: 200px; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-item .intro-step-title {
  color: #8e24aa; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-item.slide-2 .select-wrapper input.select-dropdown {
  text-overflow: ellipsis; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-item.slide-3 ul.feature-list li i.material-icons {
  position: relative;
  top: 7px;
  color: #8e24aa; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-item.slide-3 .get-started {
  border-radius: 30px; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider ul.indicators {
  bottom: 20px; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider ul.indicators .indicator-item {
  background-color: #9e9e9e; }

#walkthrough-nasa .modal .modal-content .carousel.carousel-slider ul.indicators .indicator-item.active {
  background-color: #8e24aa; }

#walkthrough-nasa .modal .modal-content:after {
  -webkit-background-size: cover;
  background-size: cover; }

#walkthrough-nasa .modal .bg-img-div {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 90%;
  height: 100px;
  opacity: 1;
  -webkit-background-size: cover;
  background-size: cover; }

@media (min-width: 992px) {
  #walkthrough-nasa .modal {
    width: 35% !important; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  #walkthrough-nasa .modal.open {
    width: 35%; }
  #walkthrough-nasa .modal.open .modal-content .carousel .slide-3 .get-started {
    margin-top: -5px !important; } }

@media (max-width: 768px) {
  #walkthrough-nasa .modal.open {
    height: 60%; } }

@media (max-width: 540px) {
  #walkthrough-nasa .modal {
    width: 80%;
    height: 100% !important;
    max-height: 70%; }
  #walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-item .intro-step-title {
    font-size: 1.25rem !important; }
  #walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-item.slide-3 ul.feature-list {
    margin: 0; } }

@media (width: 375px) and (height: 667px) {
  #walkthrough-nasa .modal .modal-content .carousel.carousel-slider .carousel-item img.responsive-img {
    width: 100px; } }

.dataTables_length {
  display: none; }

.translation-button,
.notification-button,
.profile-button {
  display: none; }

.search-form .row,
.search-form .input-field {
  margin: 0; }

.search-form .vuln-switch {
  position: relative;
  top: -10px;
  left: 30px; }

.no-margin {
  margin: 0; }

.no-margin-top {
  margin-top: 0; }

.card .card-content .card-title {
  line-height: 22px; }

.intro {
  font-size: large; }
  .intro b {
    color: #333; }

h4 {
  font-size: large; }

.light {
  background-color: #f3f3f3; }

#reverseScheme {
  display: none; }

.switch.sunburst {
  margin-top: 10px; }

h1 {
  font-size: x-large; }

h2 {
  font-size: large; }

svg {
  z-index: -1; }

.state-OKAY {
  font-weight: bold;
  color: #66bb6a; }

.state-ERROR {
  font-weight: bold;
  color: #ef5350; }

.state-OFFLINE {
  font-weight: bold;
  color: #000000; }

.switch label input[type=checkbox]:checked + .lever {
  background-color: #ffcdd2; }

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #ef5350; }

.underline {
  text-decoration: underline; }

.hunderline:hover {
  text-decoration: underline; }

.docs {
  background-color: #f3f3f3;
  overflow-x: hidden;
  padding: 10px; }
  .docs h1 {
    font-size: x-large; }
  .docs h2 {
    font-size: large; }

.code {
  background-color: #dedede;
  color: #333;
  border: solid 1px #ababab; }

.indicator {
  width: 30px; }

.bold {
  font-weight: bold; }

.dataTables_filter input[type=search] {
  font-size: 16px;
  font-weight: 400;
  display: block;
  width: 94%;
  height: 24px;
  padding: 8px 8px 8px 72px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  border: solid 1px #333;
  border-radius: 3px;
  outline: none;
  background: #f3f3f3;
  background-color: #f3f3f3;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

#search-info {
  position: relative;
  top: 10px; }

.dataTables_scroll {
  background-color: white; }

.dataTables_filter input:hover {
  background: rgba(255, 255, 255, 0.5); }

.dataTables_filter input:focus {
  color: #333;
  border-bottom: solid 1px #333 !important;
  background: #efefef;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.navbar .header-search-wrapper-focus i {
  color: #444; }

.navbar-main .nav-wrapper {
  background-color: #dedede; }

.dataTables_filter input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ababab; }

.dataTables_filter input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ababab; }

.dataTables_filter input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ababab; }

.dataTables_filter input:focus::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ababab; }

.dataTables_filter input:focus::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ababab; }

.dataTables_filter input:focus::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ababab; }

.dataTables_filter input:focus:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ababab; }

.dataTables_filter input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ababab; }

.dataTables_filter input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ababab; }

.dataTables_filter input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ababab; }

body {
  margin: 0;
  padding: 0;
  background-color: #434343;
  background-image: linear-gradient(#434343, #282828); }

#main {
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
  background-size: 50px 50px; }
  #main .row {
    padding: 10px; }

.etl-indicator {
  position: absolute;
  right: 12px !important;
  bottom: 5px !important; }
  .etl-indicator i {
    color: #42a5f5; }

.infobox {
  border-radius: 10px;
  border: dashed 5px #fff59d;
  padding: 8px 8px 8px 16px;
  color: #f3f3f3; }

.logo {
  width: 32px;
  height: 32px;
  font-size: 32px; }

.pulsefade {
  box-shadow: 0 0 0 #42a5f5;
  animation: pulsefade 1s infinite; }

@-webkit-keyframes pulsefade {
  0% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 0 #42a5f5; }
  70% {
    opacity: 0.6;
    -webkit-box-shadow: 0 0 0 20px rgba(66, 165, 245, 0); }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 0 rgba(66, 165, 245, 0); } }

@keyframes pulsefade {
  0% {
    opacity: 1;
    -moz-box-shadow: 0 0 0 0 #42a5f5;
    box-shadow: 0 0 0 0 #42a5f5; }
  70% {
    opacity: 0.6;
    -moz-box-shadow: 0 0 0 20px rgba(66, 165, 245, 0);
    box-shadow: 0 0 0 20px rgba(66, 165, 245, 0); }
  100% {
    opacity: 1;
    -moz-box-shadow: 0 0 0 0 #42a5f5;
    box-shadow: 0 0 0 0 #42a5f5; } }

.pulse {
  box-shadow: 0 0 0 #42a5f5;
  animation: pulse 1s infinite; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #42a5f5; }
  70% {
    -webkit-box-shadow: 0 0 0 5px rgba(66, 165, 245, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(66, 165, 245, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #42a5f5;
    box-shadow: 0 0 0 0 #42a5f5; }
  70% {
    -moz-box-shadow: 0 0 0 5px rgba(66, 165, 245, 0);
    box-shadow: 0 0 0 5px rgba(66, 165, 245, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 #42a5f5;
    box-shadow: 0 0 0 0 #42a5f5; } }

/*# sourceMappingURL=kr.css.map*/