@charset "UTF-8";
@import "components/walkthrough";
$brand-color: #8488e8;
$dark-color:#333;
$light-color: #f3f3f3;
// $background-color: $light-color;
$text-color: #333;
$link-color: #42a5f5;
$blue: #42a5f5;
$green: #66bb6a;
$red: #ef5350;
$grey: #dedede;
$grey-text: #ababab;
$black: #000000;
.dataTables_length {
    display: none;
}

.translation-button,
.notification-button,
.profile-button {
    display: none;
}

.search-form {
    .row,
    .input-field {
        margin: 0;
    }
    .vuln-switch {
        position: relative;
        top: -10px;
        left: 30px;
    }
}

.no-margin {
    margin: 0;
}

.no-margin-top {
    margin-top: 0;
}

.card .card-content .card-title {
    line-height: 22px;
}

.intro {
    font-size: large;
    b {
        color: $dark-color;
    }
}

h4 {
    font-size: large;
}

.light {
    background-color: $light-color;
}

#reverseScheme {
    display: none;
}

.switch.sunburst {
    margin-top: 10px;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

svg {
    z-index: -1;
}

.state-OKAY {
    font-weight: bold;
    color: $green;
}

.state-ERROR {
    font-weight: bold;
    color: $red;
}

.state-OFFLINE {
    font-weight: bold;
    color: $black;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #ffcdd2;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: $red;
}

.underline {
    text-decoration: underline;
}

.hunderline:hover {
    text-decoration: underline;
}

.docs {
    background-color: $light-color;
    overflow-x: hidden;
    padding: 10px;
    h1 {
        font-size: x-large;
    }
    h2 {
        font-size: large;
    }
}

.code {
    background-color: $grey;
    color: $dark-color;
    border: solid 1px $grey-text;
}

.indicator {
    width: 30px;
}

.bold {
    font-weight: bold;
}

// .doughnut-chart-legend {
//     display:none;
// }
.dataTables_filter input[type=search] {
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 94%;
    height: 24px;
    padding: 8px 8px 8px 72px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    border: solid 1px $dark-color;
    border-radius: 3px;
    outline: none;
    background: $light-color;
    background-color: $light-color;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

#search-info {
    position: relative;
    top: 10px;
}

.dataTables_scroll {
    background-color: white;
}

.dataTables_filter input:hover {
    background: rgba(255, 255, 255, .5);
}

.dataTables_filter input:focus {
    color: #333;
    border-bottom: solid 1px $dark-color !important;
    background: #efefef;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar .header-search-wrapper-focus i {
    color: #444;
}

.navbar-main .nav-wrapper {
    background-color: $grey;
}

.dataTables_filter input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $grey-text;
}

.dataTables_filter input::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $grey-text;
}

.dataTables_filter input:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $grey-text;
}

.dataTables_filter input:focus::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $grey-text;
}

.dataTables_filter input:focus::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $grey-text;
}

.dataTables_filter input:focus::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $grey-text;
}

.dataTables_filter input:focus:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $grey-text;
}

.dataTables_filter input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $grey-text;
}

.dataTables_filter input::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $grey-text;
}

.dataTables_filter input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $grey-text;
}

body {
    margin: 0;
    padding: 0;
    background-color: #434343;
    background-image: linear-gradient(#434343, #282828);
}

#main {
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
    .row {
        padding: 10px;
    }
}

.etl-indicator {
    position: absolute;
    right: 12px !important;
    bottom: 5px !important;
    i {
        color: $blue;
    }
    // background-position: center;
    // background-image: url('/img/kafka.png');
    // background-repeat: no-repeat;
    // background-size: 24px 24px;
}

.infobox {
    border-radius: 10px;
    border: dashed 5px #fff59d;
    padding: 8px 8px 8px 16px;
    color: $light-color;
}

.logo {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.pulsefade {
    box-shadow: 0 0 0 rgba(66, 165, 245, 1);
    animation: pulsefade 1s infinite;
}

@-webkit-keyframes pulsefade {
    0% {
        opacity: 1;
        -webkit-box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
    }
    70% {
        opacity: 0.6;
        -webkit-box-shadow: 0 0 0 20px rgba(66, 165, 245, 0);
    }
    100% {
        opacity: 1;
        -webkit-box-shadow: 0 0 0 0 rgba(66, 165, 245, 0);
    }
}

@keyframes pulsefade {
    0% {
        opacity: 1;
        -moz-box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
        box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
    }
    70% {
        opacity: 0.6;
        -moz-box-shadow: 0 0 0 20px rgba(66, 165, 245, 0);
        box-shadow: 0 0 0 20px rgba(66, 165, 245, 0);
    }
    100% {
        opacity: 1;
        -moz-box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
        box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
    }
}

.pulse {
    box-shadow: 0 0 0 rgba(66, 165, 245, 1);
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
    }
    70% {
        -webkit-box-shadow: 0 0 0 5px rgba(66, 165, 245, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(66, 165, 245, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
        box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
    }
    70% {
        -moz-box-shadow: 0 0 0 5px rgba(66, 165, 245, 0);
        box-shadow: 0 0 0 5px rgba(66, 165, 245, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
        box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
    }
}